<h2>New Classified</h2>
<button type="button" name="openNewClassifiedForm" ng-click="$ctrl.newClassifiedButton = !$ctrl.newClassifiedButton">New Classified</button>
<form ng-if="$ctrl.newClassifiedButton === true" ng-submit="$ctrl.onNewSubmit($ctrl.newClassified)">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" ng-model="$ctrl.newClassified.title">
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" ng-model="$ctrl.newClassified.description">
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="text" name="price" ng-model="$ctrl.newClassified.price">
    </div>
    <div>
        <label for="item-image">Item Image URL:</label>
        <input type="text" name="item-image" ng-model="$ctrl.newClassified.item_image">
    </div>
    <div>
        <button type="submit">
            Create Classified
          </button>
    </div>
</form>

<hr>
<label for="filter">Filter:</label>
<input type="text" name="filter" ng-model="filterClassifieds">
<br>
<form name="order-by">
  <input type="radio" ng-click="$ctrl.sortByThis = 'created_at'; $ctrl.sortOrder= true; ">Date
  <input type="radio" ng-click="$ctrl.sortByThis = 'price'; $ctrl.sortOrder= false; ">Price
</form>

<hr>
<div ng-repeat="message in $ctrl.messages | filter:filterClassifieds | orderBy: $ctrl.sortByThis : $ctrl.sortOrder">

    <h2>{{message.title}}</h2>
    <img ng-src="{{ message.item_image }}">
    <p>{{ message.description }}</p>
    <p>${{ message.price }}</p>
    <span am-time-ago="message.created_at"></span>
    <p><button type="button" name="edit-this-classified" ng-click=" $ctrl.onEditButton(message)">Edit</button></p>

    <div ng-if="message.showEditForm === true">
      <form ng-submit="$ctrl.onUpdateSubmit($ctrl.editableData)">
      <div>
          <label for="title">Title:</label>
          <input type="text" name="title" ng-model="$ctrl.editableData.title">
      </div>
      <div>
          <label for="description">Description:</label>
          <input type="text" name="description" ng-model="$ctrl.editableData.description">
      </div>
      <div>
          <label for="price">Price:</label>
          <input type="text" name="price" ng-model="$ctrl.editableData.price">
      </div>
      <div>
          <label for="item-image">Item Image URL:</label>
          <input type="text" name="item-image" ng-model="$ctrl.editableData.item_image">
      </div>
      <div>
          <button type="submit">
                  Update Classified
                </button>
      </div>
      </form>
  </div>
    <p><button type="button" name="delete-this-classified" ng-click="$ctrl.deleteClassified(message.id)">Delete</button></p>

</div>
